{% extends "base.html" %}
{% block content %}
  <h1>Morning Sequence!</h1>
  <h1>Hello {{first_name}}!</h1>
  <h2>Today's humidity is {{ humidity }}%.</h2>
<h2> We recommend you use: </h2>
<h2> Moisturizer: <a href='https://www.cetaphil.com/moisturizing-cream'>Cetaphil Moisturizing Cream for Dry/Sensitive Skin </a> </h2>
<h2> Cleanser: <a href='https://www.cerave.com/our-products/cleansers/foaming-facial-cleanser'>CeraVe Foaming Facial Cleanser </a> </h2>
<h2> Nighttime Eye Mask: <a href='https://www.sephora.com/product/eye-mask-P394903'>Sephora Green Tea Eye Mask </a> </h2>

<h2>Today's weather is {{ weather }}.</h2>
<h2> Make sure to pack an umbrella and grab your boots {{first_name}}! <h2>


 
{% endblock %}
