{% extends "base.html" %}
{% block content %}
  <h1>TFTI!</h1>
  <h2>Hello {{first_name}}</h2>
  <p>Would you like to create an event?</p>
  <a href="/create_event/"> <button type="button">Create Event</button> </a>	
  <p>Would you like to see a list of events you're hosting?</p>
  <a href="/hosting/"> <button type="button">Hosting List</button> </a>	
  <p>Would you like to see a list of events you're signed up for?</p>
  <a href="/attending/"> <button type="button">Attending List</button> </a>	
  <p>Would you like to search for events?</p>
  <a href="/search/"> <button type="button">Search</button> </a>
  
  <p>Would you like to see events in your area?</p>
  <a href="/local_events/"><button type="button">Local Events</button></a>
  <br></br>
  <a href="/logout/"> <button type="button">Logout</button> </a> 
{% endblock %}
