{% extends "base.html" %}
{% block content %}
<h1 style="font-size: 5rem">My Products</h1>
<p><br></p>
<h1> Moisturizers: <h1>
<h2>Cetaphil Moisturizing Cream for Dry/Sensitive Skin </h2>
<h3>Last refilled 2 months ago. Want to buy again?<a href='https://www.cetaphil.com/moisturizing-cream'> Refill </a> </h3>
<p><br></p>
<h1> Cleansers: <h1>
<h2>CeraVe Foaming Facial Cleanser  </h2>
<h3>Last refilled 2 weeks ago. Want to buy again?<a href='https://www.cerave.com/our-products/cleansers/foaming-facial-cleanser'> Refill </a> </h3>
<p><br></p>

<h1> Eye Masks: <h1>
<h2>Sephora Green Tea Eye Mask  </h2>
<h3>Last refilled 3 weeks ago. Want to buy again?<a href='https://www.sephora.com/product/eye-mask-P394903'> Refill </a> </h3>

{% endblock %}